[Unit]
Description=RNS-E CAN-Bus Keyboard Simulation
Wants=can_handler.service
After=can_handler.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/rns-e_can/can_keyboard_control.py
WorkingDirectory=/home/pi/rns-e_can
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=3
User=pi
Group=input

[Install]
WantedBy=multi-user.target
